<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations on Loan Approval</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-8">
            <h2 class="text-2xl font-bold mb-4">Hello {{ user.first_name }} {{ user.last_name }},</h2>
            <p class="text-lg">Your withdrawal request for <span class="font-semibold">${{ amount }}</span> has been successfully completed.</p>
            <p class="text-lg mb-4">After withdrawal, your total balance is: <span class="font-semibold">${{ user.account.balance }}</span></p>
            <p class="text-lg mb-8">Thank you for banking with us.</p>
            <p class="text-lg">Best regards,</p>
            <h2 class="text-xl font-semibold text-gray-800 mt-2">Mamar Bank</h2>
        </div>
    </div>
</body>

</html>

